/* Contralto Fonts */
/* Big Variants */
@font-face {
    font-family: 'Contralto Big';
    src: url('FONTS/Contralto Big Regular.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Contralto Big';
    src: url('FONTS/Contralto Big Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Contralto Big';
    src: url('FONTS/Contralto Big Black.otf') format('opentype');
    font-weight: 900;
}

/* Gotham Fonts */
@font-face {
    font-family: 'Gotham';
    src: url('FONTS/Gotham-Book.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham';
    src: url('FONTS/Gotham-Bold.otf') format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: 'Gotham';
    src: url('FONTS/Gotham-Black.otf') format('opentype');
    font-weight: 900;
}

/* Gotham Condensed */
@font-face {
    font-family: 'Gotham Condensed';
    src: url('FONTS/GothamCond-Book.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham Condensed';
    src: url('FONTS/GothamCond-Bold.otf') format('opentype');
    font-weight: bold;
}

/* Gotham SSm (Small Screen) */
@font-face {
    font-family: 'Gotham SSm';
    src: url('FONTS/GothamSSm-Book.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham SSm';
    src: url('FONTS/GothamSSm-Bold.otf') format('opentype');
    font-weight: bold;
}

/* Gotham Rounded */
@font-face {
    font-family: 'Gotham Rounded';
    src: url('FONTS/GothamRnd-Book.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham Rounded';
    src: url('FONTS/GothamRnd-Bold.otf') format('opentype');
    font-weight: bold;
}

/* Gotham Narrow */
@font-face {
    font-family: 'Gotham Narrow';
    src: url('FONTS/GothamXNarrow-Book.otf') format('opentype');
    font-weight: normal;
}
@font-face {
    font-family: 'Gotham Narrow';
    src: url('FONTS/GothamXNarrow-Bold.otf') format('opentype');
    font-weight: bold;
}
